body{
	background-color: seashell;
}
p{
	font-size: 50px;

}
.p1{
	background: linear-gradient(pink, lightblue, white);
    color: deeppink;
text-align: center;
}
.p2{
	font-family: "Lucida Console", Courier, monospace;
text-decoration: underline;
color: springgreen;
	text-decoration-style: double;
}
.p3{
	font-family: "fangsong";
	color: forestgreen;
}
.p4{
	font-family: "fantasy", cursive;
	text-decoration: underline;
	text-decoration-style: wavy;
}
.p5{
	font-family: 'Jost', sans-serif;
	text-transform: lowercase;
	color: royalblue;
}
.p6{
	font-family: 'Montserrat Alternates', sans-serif;
color: hotpink;
}
.p7{
	font-family: 'Rubik Glitch', system-ui;
color: darkkhaki;
text-shadow: limegreen;
}
.p8{
 font-family: 'Montserrat Alternates', sans-serif;
color: rosybrown;

}
.p9{
	font-family: 'Seymour One', sans-serif;
	text-shadow: 0px 0px 10px navy;

}
.s1{
	text-decoration: underline;
	text-decoration-style: dashed;
	text-decoration-color: indianred;
}
.s2{
text-decoration: underline;
	text-decoration-style: dashed;
	text-decoration-color: indianred;	
}
